NODE_ENV=development
JWT_SECRET="min-32-chars-secret-key-change-me"
VK_SECRET="your-vk-service-key"
VITE_API_URL=http://localhost:3001
VITE_VK_APP_ID="your-vk-app-id"
PUBLIC_UPLOAD_URL=http://localhost:3001
UPLOAD_DIR=uploads
UPLOAD_MAX_BYTES=5242880
